
*.dat
*.tmp
*.sav
*.HL1
*.HL2
*.HL3

screenshots
save
materialsrc
voice_ban.dt
stats.txt
*.cache
downloadlists
GameState.txt
maps/graphs
cfg/server_blacklist.txt
cfg/config.cfg
cfg/user.scr
cfg/autoexec.cfg
*.pdb
base.fgd
halflife2.fgd
